In [13]:
%load_ext autoreload
%autoreload 2

# Control figure size
figsize=(14, 4)

from util import util
import os

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
#Run this to create a new data file
data_folder = os.path.join('..', 'data')
leagues = ['E0']
file_name = "Test_file"
start_year, end_year = 2020, 2022
util.fetch_data_into_file(data_folder=data_folder, file_name=file_name, start_year=start_year, end_year=end_year, leagues=leagues)

Data fetched and saved to ../data/Test_file.csv

In [16]:
data = util.load_data(data_folder, file_name)
data

    Div        Date        HomeTeam     AwayTeam  ...  AR    PSH   PSD    PSA
0    E0  2020-09-12          Fulham      Arsenal  ...   0   6.16  4.51   1.56
1    E0  2020-09-12  Crystal Palace  Southampton  ...   0   3.32  3.29   2.40
2    E0  2020-09-12       Liverpool        Leeds  ...   0   1.31  6.25   9.92
3    E0  2020-09-12        West Ham    Newcastle  ...   0   2.18  3.61   3.50
4    E0  2020-09-13       West Brom    Leicester  ...   0   4.00  3.59   2.00
..   ..         ...             ...          ...  ...  ..    ...   ...    ...
755  E0  2022-05-22  Crystal Palace   Man United  ...   0   3.15  3.79   2.24
756  E0  2022-05-22       Leicester  Southampton  ...   0   1.88  4.13   3.91
757  E0  2022-05-22       Liverpool       Wolves  ...   0   1.15  8.49  21.36
758  E0  2022-05-22        Man City  Aston Villa  ...   0   1.15  8.74  20.27
759  E0  2022-05-22         Norwich    Tottenham  ...   0  11.20  6.23   1.27

[760 rows x 26 columns]

In [26]:
data_tranformed = util.transform_dataframe_to_base_format(data)
data_tranformed

      Match index Div  ... Percentage of shots against on target     Referee
0               0  E0  ...                                 46.15  C Kavanagh
1               0  E0  ...                                 40.00  C Kavanagh
2               1  E0  ...                                 55.56      J Moss
3               1  E0  ...                                 60.00      J Moss
4               2  E0  ...                                 50.00    M Oliver
...           ...  ..  ...                                   ...         ...
1515          757  E0  ...                                 27.59    A Taylor
1516          758  E0  ...                                 50.00    M Oliver
1517          758  E0  ...                                 20.83    M Oliver
1518          759  E0  ...                                 68.42  C Kavanagh
1519          759  E0  ...                                  0.00  C Kavanagh

[1520 rows x 17 columns]